.plantcontainer {
  background-size: cover;
  background-color: #fffdf9;
  height: auto;
  width: 100vw;
}

.plantaddform {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 70%;
  height: 70%;
}

.addmodal {
  color: #315b96;
}