.plantcard {
  max-width: 350px;
  margin: 10px;
  flex: 1 0 250px;
}

.planteditform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* flex: 1 0 250px; */
  max-width: 300px;
  height: 505px;
}

.cardaction {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 8pt;
}

img:hover {
  opacity: 0.75;
  transform: scale(0.98);
  color: #333;
  text-decoration: none;
  margin: 0;
}

.expansiondetails {
  display: block;
}


