.plantcard {
  max-width: 350px;
  margin: 10px;
  flex: 1 0 250px;
}

.planteditform {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 8pt;
  transition: 0.2s ease-in-out;
}