.home {
  background: url('/bgplant.jpeg') no-repeat center fixed; 
  background-size: cover;
  background-color: #999;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.intro {
  padding: 20px;
  margin-left: 30px;
  font-size: 1.5rem;
  font-family: monospace;
  color: #f88020;
  text-align: left;
  border: 6px solid white;
  width: 40%;
}

h1, h4 {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
