.home {
  background: url('/bgplant.jpeg') no-repeat center center fixed ;
  background-size: cover;
  background-color: #f2f2f2;
  height: 85vh;
  width: 100vw;
}

/* .sideitems {
  font-family: monospace, Arial, Helvetica, sans-serif;
  width: 30%;
  height: 30%;
} */
