body {
  font-family: -apple-system, BlinkMacSystemFont, monospace, Helvetica, Arial, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: #333;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

h1, h2, h5, h6 {
  margin: 0;
}

h4 {
  margin: 5px;
} 

.footer {
  /* position: absolute;  */
  width: 100%;
  height: 50px;
  bottom: 0;
  font-size: 1.2rem;
  background-color: #f9fcfb;
  color: #84a9ac;
}  

